html {
  background-color: #7b7b7b;
}

body {
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.icons {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 50px;
  color: whitesmoke;
}

.icons2 {  
  font-size: 50px;
  color: whitesmoke;  
  margin-top: -5%;
 
}

.icons2:hover {
  cursor: pointer;
  color:00B6FF;
}

/*SIDEBAR STUFF*/

.sider {  
  margin: 0%;
  padding: 0%;
  background-color: darkgray;
  height: 810px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;  
}

.sideBtn {
  margin: 30px ;
}

.containerSide { 
  width: stretch;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  min-height: 810px;  
}

.sidebarLink {
  width: 200px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;  
  padding: 0%;
  margin-top: auto;
  margin-bottom: auto;  
  font-size: 22px;
  display: flex;  
}

.bgEven {
  background-color: #9AD1FE;
  
}

.bgOdd {
  background-color: #4B8CC1;
 
}

.whiteText {
  color: whitesmoke;  
}

.blackText {
  color: black;  
}

.whiteTextProg {
  color: whitesmoke;
  font-size: 20px;
}

.displayProg {
  display: flex;
  flex-direction: row;
}

.sideBarBtn {
  display: flex;
  flex-basis: 7.6rem;
}

/*HOMEPAGE STUFF*/

.containerHome { 
  width: stretch;  
  display: flex;
  align-items: center;  
  flex-direction: column; 
  padding: 3%; 
  justify-content: center; 
}
.bigFont {
  font-size: 50px;
}
.containedHome {
  border: 1px white solid;
  max-width: 80%;
  width: 80%;
  margin-top: 40px;
  background-color: #4B8CC1;
  height: 70%;
}

.contentHome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% ;
  background-color: #364d79;
  padding: 0%;  
}

.loginBtn {
  margin: 0.8%;
}

.homeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 100%;
  vertical-align: middle;
  padding-top: 1%;
  border: whitesmoke 3px solid;
  background-color: #323232;
}

.landerButton {
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 70%;
    vertical-align: middle;
    padding-top: 1%;
    border: whitesmoke 3px solid;
    background-color: #323232;
 
}

.signUpButton {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  height: 50px;
  width: 230px;
  vertical-align: middle;
  padding-top: 1%;
  border: whitesmoke 3px solid;
  background-color: #323232;
  margin-top: -10px;

}





/*LANDING PAGE STUFF*/

.containerLand{ 
  width: stretch;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  height: 88vh;
}

.containedLand {
  border: 3px white solid;
  max-width: 80%;
  width: 80%;   
  background-color:  #4B8CC1;
  height: 70vh;
  
}

.borderRight {
  width: 66%;
  border-right: solid white 3px;
}

.borderRight h1{
  font-size: 50px;
}



.loginAlign {
  height: 22vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  margin-top: auto;
  margin-bottom: auto;
}

/*PROFILE PAGE STUFF*/

.containedUpdate {
  border: 1px black solid;
  max-width: 85%;
  width: 85%;  
  background-color: #323232;
  height: 75vh;
}

/*SIGNUP PAGE*/
.containerSign{ 
  width: stretch;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  height: 88vh;
  
  
}

.containedSign {
  border: 1px white solid;
  max-width: 80%;
  width: 80%;   
  background-color: #4B8CC1;
  height: 70vh;  
  display: flex;
  align-items: center;
  flex-direction: column; 
   
  
  }

.containedSign h1{
  padding-top: 2%;
}

/*HEADER STUFF */

.widening {
  background-color: #323232;
  height: 80px;
}





/*FOOTER STUFF */

.footer {
  background-color: #323232;
  height: 80px;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 50px;
  position:absolute;
  bottom:0px;
  border-top: 1px white solid;
  width:100%;
}

.logOut{
bottom: 10px;
}


.tooltip {
  position: relative;
  

}

.moveRight {
  right:320px;
}

/* Tooltip text */
.tooltip .tooltiptextGoals {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: #000000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 75px;
  right: 282px;
  font-size: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptextGoals {
  visibility: visible;
}

.tooltip .tooltiptextOtherGoals {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: #000000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 75px;
 left: -38px;
  font-size: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptextOtherGoals {
  visibility: visible;
}

.marginRight {
  margin-left: 50px;
}

.marginLeft {
  margin-right: 50px;
}



/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: #000000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 50px;
  font-size: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}



/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



/*CONTENT STUFF */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84.5vh ;
  background-color: #364d79;
  padding: 0%;
  width: 89.3vw;  
}

/*BILL STUFF */

.containerBills {
  border: white solid 3px;
   background-color: #4B8CC1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}

.containerBills h1{
font-size: 50px;
  color: black;
  background-color: #9AD1FE; 
 
    width: 100%;
}

.containerBills h2{
  font-size: 30px;
    color: whitesmoke;   
}

.containerBills h4{
    font-size: 20px;
      color: whitesmoke;     
}

.addBill {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 30%;
  vertical-align: middle;
  padding-top: 1%;
  border: whitesmoke 3px solid;
  background-color: #323232;
}

.loadBills {
  border-top: white 3px solid;
  width: 90%;
  margin-top: 1%;
  display: flex;
  height: 65%;
}

.billsTable {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
}

.leftBillsTable {
  width: 25%;
  font-size: 25px;
  display: flex;
  flex-direction: column;  
}

.midBillsTable {
  width: 50%;  
  font-size: 25px; 
  display: flex;
  flex-direction: column;  
}

.rightBillsTable {
  width: 25%; 
  font-size: 25px; 
  display: flex;
  flex-direction: column; 
}

.borderBottomTitle {
  border-bottom: white 2px solid;
   margin-bottom: 20px;
}

.borderBottom {
  border-bottom: white 2px solid;
   
}

.billDeleteButton {
  margin-left: 20px;
  text-align: right;
  background-color: inherit;
 
}

.billDeleteButton:hover {
  cursor: pointer;
  color: #00B6FF;
}

.billButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto; 
 justify-content: space-evenly;
 vertical-align: middle;
 
}



.containerBillsBreakdown {
  border: white solid 3px;
  background-color: #4B8CC1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}

.containerBillsBreakdown h1{
font-size: 50px;
  color: black;
  background-color: #9AD1FE; 
 
    width: 100%;
}

.pieText {
  font-size: 15px;
  border: 1px solid white;
}

/*BUDGET STUFF */

.containerBudget {
  border: black solid 3px;
  background-color: #323232;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  
}


/*GOALS STUFF*/

.underCon {
  width:600px; 
}

.containerCon {
  border: white solid 3px;
  background-color: #4B8CC1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
}

.containerCon h1{
  font-size: 50px;
    color: black;
    background-color: #9AD1FE; 
   
      width: 100%;
      text-align: center;
  }

.containerGoals {
  border: white solid 3px;
  background-color: #4B8CC1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  
}

.containerGoals h1{
  font-size: 50px;
    color: black;
    background-color: #9AD1FE; 
   
      width: 100%;
      text-align: center;
  }

.containerGoalsFlex {
  
  background-color: #4B8CC1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  
  
}



.containerNewGoals {
  border: white solid 3px;
  background-color:#4B8CC1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  justify-content: top;

}

.editGoal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  
}

.editGoal h3 {
  color:whitesmoke;
  margin-top: 2%;
  margin-right: 4%;
  font-size: 35px;
}

.containerNewGoals h1{
  text-align: center;
  font-size: 50px;
  color: black;
  background-color: #9AD1FE; 
 
}

.newGoalsForm {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;  
}


.innerGoals { 
  flex-basis: 47%;  
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
}



.Goals {
  height: 40%;
  width: 85%;
  border: solid whitesmoke 1px;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #4B8CC1;
  flex-basis: 47%; 
  margin-bottom: 5%;

}

.Goals h1 {
  padding-top: 1%;
  background-color: #9AD1FE; 
  color: black;
  font-size: 25px;
  margin-bottom: -0.5%;

}

.Goals h2 {
  padding-top: 1%;
  color: whitesmoke;
}

.Goals p {
  font-size: 20px;
  margin-bottom: 1%;
  margin-top: 1%;
}

.progBar {
  margin-top: -8%;
}

.addGoal {
  height: 40%;
  width: 85%;
  border: solid whitesmoke 1px;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #4B8CC1;
  flex-basis: 47%; 
  margin-bottom: 5%;
}

.addGoal h1 {
  padding-top: 1%;
  background-color: #9AD1FE; 
  color: black;
  font-size: 30px;
}

.addGoal h2 {
  padding-top: 1%;
  
  color: whitesmoke;
}

.trashCan {
  margin-top: -2.8%;
  margin-left: 3%;
}

.trashCan:hover {
  cursor: pointer;
  color: #00B6FF;
}

.none {
  display: none;
}

/*PIE CHART*/


/*MEDIA QUERIES*/

@media screen and (max-width: 1400px) {
  
}

@media screen and (max-width: 1200px) {
 
}

@media screen and (max-width: 1000px) {
  .sider {
    width: 50px;
  }
   .sidebarLink {
     font-size: 16px;
   }
}

@media screen and (max-width: 800px) {
  
}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 400px) {
  
}





