html {
  background-color: #7b7b7b;
}

body {
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.icons {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 35px;
  color: whitesmoke;
}

.icons2 {  
  font-size: 35px;
  color: whitesmoke;
  margin-top: -5%;
}

/*SIDEBAR STUFF*/

.sider {  
  margin: 0%;
  padding: 0%;
  background-color: darkgray;
  height: 810px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;  
}

.sideBtn {
  margin: 30px ;
}

.containerSide { 
  width: stretch;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  min-height: 810px;  
}

.sidebarLink {
  width: 200px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;  
  padding: 0%;
  margin-top: auto;
  margin-bottom: auto;  
  font-size: 22px;
  display: flex;  
}

.bgEven {
  background-color: #7b7b7b;
  border-right: 5px black solid;
}

.bgOdd {
  background-color: #323232;
  border-right: 5px black solid;
}

.whiteText {
  color: whitesmoke;  
}

.whiteTextProg {
  color: whitesmoke;
  font-size: 20px;
  
  
  

}

.displayProg {
  display: flex;
  flex-direction: row;
}

.sideBarBtn {
  display: flex;
  flex-basis: 7.6rem;
}

/*HOMEPAGE STUFF*/

.containerHome { 
  width: stretch;  
  display: flex;
  align-items: center;  
  flex-direction: column;  
  min-height: 810px;
  padding: 3%;  
}

.containedHome {
  border: 1px black solid;
  max-width: 80%;
  width: 80%;
  margin-top: -7.2%; 
  background-color: #323232;
  height: 75vh;
}

.contentHome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh ;
  background-color: #ba3c3c;
  padding: 0%;  
}

.loginBtn {
  margin: 0.8%;
}


/*LANDING PAGE STUFF*/

.containerLand{ 
  width: stretch;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  height: 88vh;
}

.containedLand {
  border: 1px black solid;
  max-width: 80%;
  width: 80%;   
  background-color: #323232;
  height: 70vh;
  
}

.loginAlign {
  height: 22vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  margin-top: auto;
  margin-bottom: auto;
}

/*PROFILE PAGE STUFF*/

.containedUpdate {
  border: 1px black solid;
  max-width: 85%;
  width: 85%;  
  background-color: #323232;
  height: 75vh;
}

/*SIGNUP PAGE*/
.containerSign{ 
  width: stretch;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  height: 88vh;
  
}

.containedSign {
  border: 1px black solid;
  max-width: 80%;
  width: 80%;   
  background-color: #323232;
  height: 70vh;  
  display: flex;
  align-items: center;
  flex-direction: column; 
   
  
  }

.containedSign h1{
  padding-top: 2%;
 
}

/*HEADER STUFF */

.widening {
  background-color: #323232;
  height: 80px;
}

.navbar {
  margin: 0%;
}



/*FOOTER STUFF */

.footer {
  background-color: #323232;
  height: 80px;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 50px;
  position:relative;
  bottom:0px;
  border-top: 1px black solid;
  width:100%;
}

.logOut{
bottom: 10px;
}

/*CONTENT STUFF */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 84.5vh ;
  background-color: #ba3c3c;
  padding: 0%;
  width: 88.72vw;  
}
/*BILL STUFF */
.containerBills {
  border: black solid 3px;
   background-color: #4B8CC1;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.containerBills h1{
font-size: 50px;
  color: whitesmoke;
  background-color: #9AD1FE; 
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7b7b7b ;
    width: 100%;
}

.containerBills h2{
  font-size: 30px;
    color: whitesmoke;   
}

.containerBills h4{
    font-size: 20px;
      color: whitesmoke;     
}

.addBill {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1%;
  width: 30%;
  vertical-align: middle;
  padding-top: 1%;
  border: whitesmoke 3px solid;
  background-color: #323232;
}

/*GOALS STUFF*/

.containerGoals {
  border: black solid 3px;
  background-color: #323232;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: row;
}

.containerNewGoals {
  border: black solid 3px;
  background-color:#7b7b7b;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  justify-content: top;

}

.editGoal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  margin-top: -4%;
}

.editGoal h3 {
  color:whitesmoke;
  margin-top: -2%;
  margin-right: 2%;
}

.containerNewGoals h1{
  text-align: center;
  font-size: 50px;
  color: rgb(0, 0, 255);
  background-color: #9AD1FE; 
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000 ;
}

.newGoalsForm {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;  
}


.innerGoals { 
  flex-basis: 47%;  
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.Goals {
  height: 30%;
  width: 85%;
  border: solid whitesmoke 1px;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #7b7b7b;
  flex-basis: 47%; 
}

.Goals h1 {
  padding-top: 1%;
  background-color: #FE9A9A;
  color: whitesmoke;
  font-size: 25px;
  margin-bottom: -0.5%;

}

.Goals h2 {
  padding-top: 1%;
  color: whitesmoke;
}

.Goals p {
  font-size: 20px;
  margin-bottom: 1%;
  margin-top: 1%;
}

.progBar {
  margin-top: -8%;
}

.addGoal {
  height: 30%;
  width: 85%;
  border: solid whitesmoke 1px;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #7b7b7b;
  flex-basis: 47%; 
}

.addGoal h1 {
  padding-top: 1%;
  background-color: #FE9A9A;
  color: whitesmoke;
  font-size: 30px;
}

.addGoal h2 {
  padding-top: 1%;
  
  color: whitesmoke;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1400px) {
  
}

@media screen and (max-width: 1200px) {
 
}

@media screen and (max-width: 1000px) {
  .sider {
    width: 50px;
  }
   .sidebarLink {
     font-size: 16px;
   }
}

@media screen and (max-width: 800px) {
  
}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 400px) {
  
}





